
.titlecon{
    background: linear-gradient(-45deg,#053B50, rgb(9, 20, 37),#123638);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    padding: 50px;
    padding-bottom: 100px;
}
.titlecon h2{
    font-size: 100px;
    text-align: center;
    /* display: inline-block; */
    margin-bottom: 0;
    padding-bottom: 0;
    /* color: #D6D5C5; */
    color: #C5D2D8;
    font-weight: 500;

}
.full-size{
    
    width: 100%;
    /* height: 80vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.slide-row{
    display: flex;
    width: 3200px;
    transition: 0.5s;
}
.slide-col{
    width: 800px;
    height: 400px;
    position: relative;
}
.user-img{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
.user-img img{
    height: 100%;
    border-radius:10px;
}
.user-text{
    background-color: #040D12;
    width:520px;
    height: 270px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
    /* color:rgb(238, 241, 238) ; */
    color: #C5D2D8;
    padding: 45px;
    box-sizing: border-box;
    z-index: 2;
}
.user-text p{
    font-size: 18px;
    line-height: 24px;
}
.user-text h3{
    margin: 35px 0 5px;
    /* font-size: larger; */
}
.container-t{
   width: 800px;
   height: 400px;
   /* position:absolute;
   top:50%;
   left: 50%; */
   transform: translate(0%, 0%);
}
.indicator{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    bottom: -50px;

}
.tbtn{
   display: inline-block;
   height: 15px;
   width: 15px;
   margin: 5px;
   border-radius: 15px;
   /* background: #fff;  */
   background-color: #C5D2D8;
   cursor: pointer;
   transition: 0.3s;
}
.active{
   width: 45px; 
}
.testimonial{
    width: 100%;
    height: 100%;
    overflow: hidden;
}